*,
body,
ul,
li,
a,
button {
  font-family: "Baloo 2", cursive;
}
body {
  background-color: #323232;
}
a,
a:hover,
.cabecalho,
.footer,
.card,
.modal-content {
  color: #fff;
}
.cabecalho,
.footer {
  background: linear-gradient(to bottom, #eda81d, #ab8711);
}
.card,
.modal-content {
  background-color: #eda81d;
  margin: 15px 0;
}
.card:hover {
  background: linear-gradient(to bottom, #eda81d, #ab8711);
}
.card ul,
.card ul li {
  background-color: rgba(0, 0, 0, 0);
}
body {
  position: relative;
}
.pegadas {
  width: 500px;
  height: 550px;
  bottom: 35px;
  right: 0;
  position: absolute;
  background: url("../img/pegadas.png") no-repeat;
  background-size: cover;
}
